<section [class]="layoutPage()">
  <out-title-page
    [text]="i18n.menu.lastReleases"
    (return)="navigateToReleasePage(releaseSelected())"
  />

  <div class="rounded-lg border border-gray-200 bg-white p-4 shadow-lg">
    <div class="overflow-x-auto">
      <table class="table text-base">
        <thead>
          <tr>
            <th>{{ i18n.releases.table.index }}</th>
            <th>{{ i18n.releases.table.month }}</th>
            <th>{{ i18n.releases.table.year }}</th>
            <th>{{ i18n.releases.table.release }}</th>
            <th>{{ i18n.releases.table.articles }}</th>
          </tr>
        </thead>
        <tbody>
          @for (release of releases(); track release.id) {
            <tr
              class="hover:bg-base-200"
              [ngClass]="
                release.release === releaseSelected()
                  ? 'text-secondary bg-teal-50 hover:bg-teal-50'
                  : ''
              "
            >
              <th>{{ release.index }}</th>
              <td>{{ release.month | releaseMonth }}</td>
              <td>{{ release.year }}</td>
              <td
                class="font-semibold"
                [ngClass]="
                  release.release === releaseSelected()
                    ? 'cursor-auto'
                    : 'hover:text-primary cursor-pointer'
                "
                (click)="
                  release.release !== releaseSelected()
                    ? navigateToReleasePage(release.release)
                    : null
                "
              >
                {{ release.release | release }}
              </td>
              <td>
                <ul class="grid grid-cols-2 gap-2">
                  @for (article of release.articles; track article.title) {
                    <li
                      class="hover:text-primary text-neutral cursor-pointer text-sm"
                      (click)="navigateToArticleDetail(release.release, article.slug)"
                    >
                      <span class="font-semibold">{{ article.title }}</span
                      >,
                      <span class="italic">{{ article.author }}</span>
                    </li>
                  }
                </ul>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</section>
