<div class="navbar bg-base-100 px-8 shadow-sm">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <out-icon-menu />
      </div>
      <ul
        tabindex="-1"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow"
      >
        @for (item of menu(); track item.text) {
          <li>
            <a>{{ item.text }}</a>
          </li>
        }
      </ul>
    </div>

    <div class="flex items-center gap-5">
      <a class="cursor-pointer hover:opacity-75" (click)="navigateToHomePage()">
        <img src="/assets/Outsider-logo.png" alt="" class="h-[25px]" />
      </a>
      <!-- <span>Revista Literaria Subterránea</span> -->
    </div>
  </div>

  <div class="navbar-end">
    <ul class="menu menu-horizontal hidden px-1 lg:flex">
      @for (item of menu(); track item.text) {
        <li class="px-3 text-base font-semibold hover:text-gray-500">
          <a [routerLink]="item.url" routerLinkActive="text-info">{{ item.text }}</a>
        </li>
      }
    </ul>
    <a class="btn btn-outline btn-info">Zona privada</a>
  </div>
</div>
