<section [class]="layoutPage()">
  <out-title-page
    [text]="articleSelected()?.titleCategory"
    [category]="articleSelected()?.category"
    (return)="navigateToReleasePage(articleSelected()?.release)"
  />

  <div class="rounded-lg border border-gray-200 bg-white px-4 py-6 shadow-lg lg:px-10">
    <div class="flex flex-col gap-5">
      <!-- HEADER -->
      <div class="flex flex-col gap-3">
        <h3 class="text-xl font-semibold lg:text-3xl">{{ articleSelected()?.titleArticle }}</h3>
        <h4 class="text-base text-gray-500 lg:text-lg">
          {{ articleSelected()?.authorArticle }}
        </h4>
        <div class="h-px w-full {{ color() }}"></div>
      </div>

      <!-- CONTENT -->
      <div class="grid grid-cols-1 gap-10 lg:grid-cols-3">
        <div class="col-span-2 flex flex-col gap-3">
          <div class="content-article">
            <div
              class="text-sm lg:text-lg"
              [innerHTML]="articleSelected()?.content | safeHtml"
            ></div>
          </div>
        </div>

        <div class="col-span-1 flex flex-col gap-3">
          @if (articleSelected()?.quote) {
            <div class="flex flex-col items-end gap-2">
              <blockquote
                class="border-r-4 border-gray-400 pr-4 text-right text-sm italic"
                [innerHTML]="articleSelected()?.quote! | safeHtml"
              ></blockquote>
              <label class="text-sm font-semibold">{{ articleSelected()?.authorQuote }}</label>
            </div>
          }
          <img [src]="articleSelected()?.image" class="rounded-lg" width="100%" alt="foto" />
          <span
            class="text-sm text-gray-500"
            [innerHTML]="articleSelected()?.references | safeHtml"
          ></span>
        </div>
      </div>

      <!-- ABOUT AUTHOR -->
      @if (articleSelected()?.authorInfo) {
        <div class="mt-5 flex flex-col gap-2">
          <hr class="border-gray-300" />
          <p class="text-sm font-semibold lg:text-base">Sobre el autor</p>
          <div class="content-info">
            <div
              class="text-sm lg:text-base"
              [innerHTML]="articleSelected()?.authorInfo! | safeHtml"
            ></div>
          </div>
        </div>
      }
    </div>
  </div>
</section>
