<div
  class="flex cursor-pointer flex-col gap-5 rounded-lg bg-white shadow-lg transition-all transition-discrete hover:bg-gray-200"
>
  <div
    class="flex items-center gap-5"
    [ngClass]="article()?.imageLayout === 'left' ? 'flex-row' : 'flex-row-reverse'"
  >
    <img
      [src]="article()?.imageUrl"
      class="w-75"
      [ngClass]="article()?.imageLayout === 'left' ? 'rounded-l-lg' : 'rounded-r-lg'"
    />

    <div class="flex h-50 w-full flex-col justify-between p-4">
      <h2
        class="mt-3 flex"
        [ngClass]="[
          getFontFamily(article()?.section),
          article()?.imageLayout === 'left' ? 'justify-end' : 'justify-start',
        ]"
      >
        {{ article()?.section | articleSection }}
      </h2>
      <div
        class="flex flex-col gap-2"
        [ngClass]="article()?.imageLayout === 'left' ? 'items-start' : 'items-end'"
      >
        <h3 class="text-secondary text-2xl font-bold">{{ article()?.title }}</h3>
        <p class="text-sm font-semibold">{{ article()?.author }}</p>
      </div>
    </div>
  </div>
</div>
