<div class="flex flex-col gap-8">
  <out-title-page
    [text]="articleSelected()?.titleCategory + ' (' + i18n.common.preview + ')'"
    [icon]="'auto_stories'"
    [color]="color()"
    (return)="backToArticles()"
  />

  <div class="flex flex-col gap-5">
    <!-- HEADER -->
    <div class="flex flex-col gap-3">
      <h3 class="text-xl font-semibold lg:text-2xl">{{ articleSelected()?.titleArticle }}</h3>

      <div class="flex flex-col gap-3 lg:flex-row lg:items-center lg:justify-between">
        <h4 class="text-base font-semibold text-gray-500 italic lg:text-lg">
          {{ articleSelected()?.authorArticle }}
        </h4>

        <div class="flex items-center gap-2">
          @for (socialItem of socialMediaItems(); track socialItem.social) {
            <div class="tooltip" [attr.data-tip]="socialItem.social">
              <a class="cursor-pointer">
                <img
                  class="hover:scale-125"
                  [src]="socialItem.imgUrl"
                  [width]="socialItem.imgWidth"
                  [alt]="socialItem.imgAlt"
                />
              </a>
            </div>
          }
        </div>
      </div>
      <div class="h-px w-full" [style.backgroundColor]="color()"></div>
    </div>

    <!-- CONTENT -->
    @if (articleSelected()?.quote) {
      <div class="block flex flex-col items-end gap-2 lg:hidden">
        <blockquote
          class="border-r-4 border-gray-400 pr-4 text-right text-sm italic"
          [innerHTML]="articleSelected()?.quote! | safeHtml"
        ></blockquote>
        <label class="text-sm font-semibold">{{ articleSelected()?.authorQuote }}</label>
      </div>
    }
    <article class="grid grid-cols-1 gap-5 lg:grid-cols-3 lg:gap-20">
      <div class="col-span-2 flex flex-col gap-3">
        <div class="content-article">
          <div class="text-sm lg:text-lg" [innerHTML]="articleSelected()?.content | safeHtml"></div>
        </div>
      </div>

      <div class="col-span-1 flex flex-col gap-3">
        @if (articleSelected()?.quote) {
          <div class="flex hidden flex-col justify-end justify-items-end gap-3 lg:inline-block">
            <blockquote
              class="border-r-4 border-gray-400 pr-4 text-right text-sm italic"
              [innerHTML]="articleSelected()?.quote! | safeHtml"
            ></blockquote>
            <div class="mt-3 flex justify-end">
              <label class="text-right text-sm font-semibold">{{
                articleSelected()?.authorQuote
              }}</label>
            </div>
          </div>
        }
        <img
          [src]="articleSelected()?.image"
          appImgFallback="/assets/foto-libros.jpg"
          class="rounded-lg"
          width="100%"
          alt="foto"
        />
        <span
          class="text-sm text-gray-500"
          [innerHTML]="articleSelected()?.references ?? '' | safeHtml"
        ></span>

        <!-- ABOUT AUTHOR -->
        @if (articleSelected()?.authorInfo) {
          <div class="mt-5 flex flex-col gap-2">
            <hr class="border-gray-300" />
            <p class="text-sm font-semibold lg:text-base">
              {{ articleSelected()?.subtitle }}
            </p>

            <div class="content-info" [innerHTML]="articleSelected()?.authorInfo! | safeHtml"></div>
          </div>
        }
      </div>
    </article>

    <!-- SOCIAL MEDIA -->
    <div class="h-px w-full" [style.backgroundColor]="color()"></div>

    <div class="flex items-center gap-2">
      <span class="text-secondary font-semibold">Compartir en</span>
      @for (socialItem of socialMediaItems(); track socialItem.social) {
        <div class="tooltip" [attr.data-tip]="socialItem.social">
          <a class="cursor-pointer">
            <img
              class="hover:scale-125"
              [src]="socialItem.imgUrl"
              [width]="socialItem.imgWidth"
              [alt]="socialItem.imgAlt"
            />
          </a>
        </div>
      }
    </div>
  </div>
</div>
