<div
  class="flex cursor-pointer flex-col gap-5 bg-white p-4 shadow-lg transition-all transition-discrete hover:bg-gray-200"
>
  <h2 class="carter-one-regular text-3xl text-gray-500">Cuentos para no dormir</h2>

  <div class="grid grid-cols-1 gap-3 lg:grid-cols-3">
    <img src="/assets/foto-libros.jpg" class="w-75 rounded-lg shadow-md" />

    <div class="col-span-2 flex flex-col content-end items-end">
      <h3 class="text-neutral text-2xl font-bold">La ciudad que nunca olvida</h3>
      <p class="text-sm font-semibold">Miguel Baumann</p>
      <p class="mt-5 text-right text-sm italic">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
        ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
        ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
        montes, nascetur ridiculus mus...
      </p>
    </div>
  </div>
</div>
