<div
  class="flex cursor-pointer flex-col gap-5 bg-white p-4 shadow-lg transition-all transition-discrete hover:bg-gray-200"
>
  <h2 class="carter-one-regular text-3xl">Cuentos para no dormir</h2>

  <div class="grid grid-cols-1 gap-3 lg:grid-cols-3">
    <img src="/assets/foto-libros.jpg" class="w-75" />

    <div class="col-span-2 flex flex-col content-end items-end">
      <h3 class="text-lg font-bold">Titulo del articulo</h3>
      <p>Autor del titulo</p>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
        ridiculus mus...
      </p>
    </div>
  </div>
</div>
