<div class="flex items-center justify-between">
  <div class="flex items-center gap-3">
    @if (icon()) {
      <span class="material-icons icon" [style.color]="colorIcon()"> {{ icon() }} </span>
    }
    <h2 class="text-lg font-semibold lg:text-3xl">{{ text() }}</h2>
  </div>

  @if (actionText()) {
    <button class="btn btn-accent" (click)="actionEvent.emit()">
      @if (actionIcon()) {
        <span class="material-icons"> {{ actionIcon() }} </span>
      }
      <span>{{ actionText() }}</span>
    </button>
  }
</div>
