@use '@angular/material' as mat;

@use 'tailwindcss';

@plugin 'daisyui' {
  themes:
    light --default,
    dark --prefersdark,
    corporate;
}

html,
body {
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  height: 100%;
  background-color: var(--color-gray-100);
}

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      density: 0,
    )
  );
}

.engagement-regular {
  font-family: 'Engagement', cursive;
  font-weight: 400;
  font-style: normal;
}

.special-elite-regular {
  font-family: 'Special Elite', system-ui;
  font-weight: 400;
  font-style: normal;
}

.spinner-container {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
