<main class="flex flex-col gap-5">
  <!-- SLOGAN -->
  @if (releaseLocalStorage() === 'current') {
    <div class="flex items-center justify-center">
      <h1 id="slogan" class="slogan flex flex-col gap-2">
        <span class="text-info title">{{ title().toUpperCase() }}</span>
        <span class="subtitle special-elite-regular">{{ i18n.slogan }}</span>
      </h1>
    </div>
  } @else {
    <div class="flex items-center justify-center">
      <h2 class="slogan">
        <span class="subtitle special-elite-regular">{{ releaseName() }}</span>
      </h2>
    </div>
  }

  <!-- CARDS -->
  <div class="mx-auto p-6">
    <div class="columns-1 gap-6 space-y-6 md:columns-3 md:gap-10 md:space-y-10">
      <!-- Render dinámico -->
      @for (article of articlesRelease(); track article.id) {
        <out-article-home-card [article]="article" (click)="navigateToDetail(article)" />
      } @empty {
        <p>No hay informacion</p>
      }
    </div>
  </div>
</main>
