@let loading = isLoadingReleases() || isLoadingArticles() || isLoadingLayout();

<main class="flex flex-col gap-5">
  <!-- SLOGAN -->
  @if (releaseLocalStorage() === 'current') {
    <div class="flex items-center justify-center">
      <div class="flex w-full flex-col gap-2">
        <h1 id="title" class="title">
          <span class="text-info engagement-regular">{{ title() }}</span>
        </h1>
        <h2 id="slogan" class="slogan">
          <span class="special-elite-regular">{{ i18n.slogan }}</span>
        </h2>
      </div>
    </div>
  } @else {
    <div class="flex items-center justify-center">
      <h2 class="slogan">
        <span class="subtitle special-elite-regular">{{ releaseName() }}</span>
      </h2>
    </div>
  }

  @if (loading) {
    <div>
      <div class="mx-auto p-6">
        <div class="columns-1 gap-6 space-y-6 md:columns-3 md:gap-10 md:space-y-10">
          @for (item of [1, 2, 3, 4, 5, 6]; track item) {
            <out-skeleton-card />
          }
        </div>
      </div>
    </div>
  } @else {
    @if (errorMessageApi()) {
      <div class="w-full">
        <div role="alert" class="alert alert-error alert-soft w-full">
          <span class="text-xl font-semibold">{{ errorMessageApi() }}</span>
        </div>
      </div>
    } @else {
      <!-- CARDS -->
      <div class="mx-auto p-6">
        <div class="columns-1 gap-6 space-y-6 md:columns-3 md:gap-10 md:space-y-10">
          @for (article of articlesRelease(); track article.id) {
            <out-article-home-card [article]="article" (click)="navigateToDetail(article)" />
          }
        </div>
      </div>
    }
  }
</main>
